# Archivos y carpetas comunes de Node/NPM (ahora en la raíz)

npm-debug.log*
yarn-debug.log*
# Ignorar la carpeta 'backend' si no quieres subirla (opcional, dependiendo de tu backend)
# backend/
.vscode
node_modules
